<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <title>Probe Lander - TOXIC RAINBOW</title>
  </head>
  <body class="prblndrBody">
    <aside id="prblndrInfo">
      <div>
        <h1>Telemetria da Sonda</h1>
        <p>
          Combustível:<br>
          <span class="fuel">20.5l | 80.0%</span>
          <div id="fuelBar">
            <div id="fuelLevel">
              &nbsp;
            </div>
          </div>
        </p>
        <p>
          Motor:<br>
          <span class="engine">Vector Alpha 1.0 <br /> 0.5u | 0.5s</span>
        </p>
        <p>
          Velocidade vertical:<br>
          <span class="ySpeed">3.33ms</span>
        </p>
        <p>
          Velocidade horizontal:<br>
          <span class="xSpeed">2.22ms</span>
        </p>
        <p>
          Gravidade:<br>
          <span class="gravity">0.3G</span>
        </p>
        <p>
          Vento:<br>
          <span class="wind">0.0ms</span>
        </p>
      </div>
    </aside>
    <script type="text/javascript" src="../js/prblndr.js"></script>

  </body>
</html>
